@media only screen and (max-width: 767px) {
    /*navbar start*/
    .navbar-brand img {
        height: 65px;
    }
    #mynav {
        padding: 0 0px 0 0px;
        height: 90px;
    }
    #mynav .navbar-nav li a {
        color: #000 !important;
        line-height: 15px;
        font-family: 'Playfair Display', serif;
        font-weight: 500;
        font-size: 15px;
    }
    #mynav .container-fluid {
        background: #fff;
    }
    /*navbar end*/
    /*banner start*/
    .banner-content p {
        font-size: 14px;
        color: #fff !important;
        padding: 5px 0px 30px;
    }
    .banner-content h2 {
        font-weight: 600;
        color: #fff;
        font-size: 26px;
        line-height: 30px;
        padding: 35px 0px 8px;
        font-family: 'Playfair Display', serif;
    }
    .exp-info {
        padding: 11px 7px;
        width: 168px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        background: #fff;
        font-weight: 700;
        margin-right: 0px;
        color: #000;
    }
    .exp-info1 {
        padding: 9px 5px;
        width: 175px;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        background: transparent;
        border: 2px solid #fff;
        margin-right: 0px;
        color: #fff;
    }
    /*banner end*/
    /*box starting*/
    .service-area .single-service {
        min-height: 200px;
        padding: 25px;
        margin-bottom: 7px;
        height: 193px;
    }
    /*box ending*/
    /*regular courses start*/
    .section-tittle h2 {
        font-size: 24px;
        padding-top: 13px;
    }
    .section-tittle p {
        font-size: 13px;
    }
    .home-ragular-course .single-ragular-course .course-img img {
        border-radius: 0 0 100% 100%;
        height: 121px;
        width: 100%;
        object-fit: cover;
    }
    .home-ragular-course .single-ragular-course .course-img h2 {
        font-size: 17px;
        top: 40%
    }
    .home-ragular-course .single-ragular-course .course-content p {
        color: #616161;
        font-size: 13px;
        margin-bottom: 20px;
    }
    .home-ragular-course .single-ragular-course {
        margin-top: 10px;
        box-shadow: 2px 2px 20px 4px rgb(0 0 0 / 25%);
    }
    .border-btn {
        padding: 8px 14px;
    }
    .home-ragular-course .single-ragular-course .course-content button {
        font-size: 12px;
    }
    /*regular courses end*/
    /*why choose start*/
    .home-choose-img img {
        height: 185px;
    }
    .choose-area .home-choose-img::before {
        height: 190px;
        top: -20px;
        left: -37px;
    }
    .choose-area .home-choose-content .section-tittle p {
        font-size: 12px;
        text-align: justify;
    }
    .choose-list-left li {
        font-size: 14px !important;
    }
    .choose-list-home li {
        font-size: 14px !important;
    }
    .choose-area .home-choose-content .box-btn {
        background: #1d42d9;
        color: #fff;
        padding: 10px 0;
        width: 140px;
        margin-top: 4px;
        border-radius: 100px;
        text-align: center;
        text-decoration: none;
        margin-left: 27px;
    }
    /*why choose end*/
    /*admission start*/
    .home-admission .single-addmission .admission-circle {
        width: 250px;
        height: 250px;
        border: 6px solid #1d42d9;
    }
    .home-admission .single-addmission .admission-circle h2 {
        font-size: 33px;
        left: 68%;
    }
    .home-admission .single-addmission {
        background: url(../images/bg.png) no-repeat;
        background-position: right;
    }
    .home-admission .single-addmission .admission-content {
        left: 5px;
        position: relative;
    }
    .home-admission .single-addmission .admission-content h2 {
        font-size: 16px;
        padding-top: 35px;
    }
    .home-admission .single-addmission .admission-content .admission-list li {
        margin-right: 2px;
    }
    .home-admission .single-addmission .admission-content .admission-list li p {
        width: 60px;
        height: 60px;
        font-size: 20px;
        line-height: 53px;
        box-shadow: 0 0 7px #000;
    }
    .home-admission .single-addmission .admission-content .admission-list li span {
        font-size: 13px;
        color: #000;
        margin-bottom: 30px;
    }
    .home-admission .single-addmission .admission-content .box-btn {
        background: #1d42d9;
        color: #fff;
        padding: 15px 21px;
        font-size: 12px;
    }
    /*admission end*/
    /*special start*/
    .course-sec .container-fluid .ctitle h2 {
        font-size: 23px;
    }
    .course-sec .ctitle p {
        font-size: 13px;
        padding: 0 4px 0;
    }
    .course-div-inner .container .title {
        font-size: 15px;
        height: 60px;
    }
    .course-div-inner .content-image {
        height: 205px;
        object-fit: cover;
    }
    .course-div-inner .content .content-overlay {
        opacity: 1;
    }
    .course-div-inner .content-details {
        opacity: 1;
    }
    .course-div-inner .content-details p {
        color: #fff !important;
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 30px;
    }
    .course-div-inner .content-details .box-btn {
        background: #fff;
        font-size: 9px;
        padding: 10px 12px;
    }
    .course-div-inner .fadeIn-bottom {
        top: 50%;
    }
    /*special end*/
    /*testimonial start*/
    .test-img img {
        height: 181px;
        object-fit: cover;
        border-radius: 5px;
    }
    .test-content h2 {
        font-size: 16px;
        padding: 12px 0;
    }
    .test-content p {
        margin-bottom: 55px;
        font-size: 13px;
        line-height: 15px;
        color: #fff !important;
        text-align: justify;
    }
    .test-content .box-btn {
        padding: 12px 14px;
        margin-right: 2px;
    }
    .test-content .box-btn1 {
        padding: 10px 19px;
        border-radius: 30px;
        margin-right: 2px;
    }
    .test-content {
        padding: 10px 0;
    }
    .testimonial {
        padding: 29px 0px 0px 14px;
    }
    /*testimonial end*/
    /*news start*/
    .newstitle h2 {
        font-size: 26px;
        padding: 10px 0 10px;
    }
    .newstitle p {
        font-size: 13px;
        padding: 10px 12px 20px;
    }
    .snip1360 h2 {
        font-size: 12px;
    }
    .snip1360 figcaption {
        padding: 9px 3px 35px;
    }
    .snip1360 p {
        font-size: 11px;
        text-align: left;
    }
    .snip1360 figcaption a {
        font-size: 10px;
    }
    .snip1360 {
        box-shadow: 0px 0px 4px #816f6f;
        border-radius: 5px;
    }
    .snip1360 img {
        border-radius: 5px 5px 0 0;
    }
    .news-sec .item {
        padding: 3px;
    }
    /*news end*/
    /*team start*/
    .add-sec.domain-sec {
        padding: 20px 0 10px;
    }
    .domain-sec .inner-add-sec {
        min-height: 170px;
    }
    .inner-add-sec {
        margin-top: 10px;
    }
    .domain-sec .inner-add-sec h3 {
        padding: 35px 0 0;
        font-size: 17px;
    }
    .home-teachers-area .section-tittle p {
        color: #616161;
        font-size: 11px;
        padding: 10px 10px 10px;
    }
    .home-teachers-area .section-tittle h2 {
        font-size: 21px;
        text-transform: capitalize;
        color: #181818;
        margin-bottom: 15px;
    }
    .teacher-img img {
        height: 170px;
        object-fit: contain;
    }
    .home-teachers-area .single-home-teacher {
        margin-top: 0px;
    }
    .cli-start {
        min-height: 120px;
        margin: 34px 0 28px;
    }
    .cli-start h4 {
        font-size: 15px;
        color: #32b3ed;
        text-align: left;
        padding: 49px 0 0 30px;
    }
    /*team end*/
    /*ABOUT PAGE START*/
    /*about banner start*/
    .con-content h2 {
        font-size: 29px;
        line-height: 31px;
    }
    .con-content p {
        color: #fff !important;
        padding: 10px 0px 30px;
        font-size: 15px;
        font-style: italic;
    }
    .contact-banner {
        min-height: 400px;
    }
    .conitem::before {
        min-height: 400px;
    }
    .conitem figure {
        height: 400px;
    }
    .con-content {
        top: 61%;
    }
    .wve {
        background: url(../images/waveb.webp);
        height: 68px;
        background-position: top;
        z-index: 11;
        position: absolute;
        top: 332px;
    }
    .home-choose-img-ab img {
        width: 250px;
        height: 250px;
        left: 29px;
        margin-bottom: 33px;
    }
    /*about banner ends*/
    /*about start*/
    .choose-area .home-choose-content ul li {
        color: #444343;
        font-size: 12px;
        text-align: justify;
    }
    .choose-area {
        padding: 45px 0 10px;
    }
    /*about end*/
    /*vision start*/
    .vision-sec1 {
        padding: 6px 0 100px;
    }
    .v-sec-img img {
        height: 218px;
        margin-left: 15%;
    }
    .hhcol p {
        font-size: 13px;
    }
    .vision-sec p {
        font-size: 13px;
    }
    /*vision end*/
    /*ABOUT PAGE ENDS*/
    /*COURSES PAGE START*/
    .table-striped {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .stack-div p {
        color: #000;
        font-size: 15px;
        letter-spacing: 1px;
    }
    /*COURSES PAGE ENDS*/
    /*SERVICES PAGE START*/
    /*services start*/
    .title-ddd h2 {
        font-size: 19px;
        padding: 10px 0 14px;
    }
    .pricing-sec {
        padding: 60px 10px 70px;
    }
    .pricing-sec .pricingTable-header>.price-value {
        display: block;
        font-size: 32px;
        line-height: 50px;
    }
    .pricing-sec .pricingTable-header>.price-value>.currency {
        font-size: 24px;
        margin-right: 4px;
        position: relative;
        bottom: -2px;
    }
    .pricing-sec .pricingTable-header>.heading {
        display: block;
        padding: 20px 0 0;
    }
    .pricing-sec .pricingTable-sign-up>.btn-block {
        width: 46%;
        background: #106ffa;
        border: 2px solid #fff;
        color: #fff;
        padding: 15px 12px;
        font-size: 14px;
    }
    .contact-sec-ser {
        padding-left: 2px;
    }
    .how-pay-sec {
        background: url(../images/contact-bg.png);
        padding: 42px 0;
    }
    /*services end*/
    /*SERVICES PAGE ENDS*/
    /*DEVELOPMENT PAGE START*/
    /*development start*/
    .cat-inner-div h4 {
        text-align: center;
        padding: 41px 0;
        text-shadow: none;
        font-size: 16px;
    }
    .cat-outer-div {
        background: #fff;
        min-height: 110px;
        background-size: contain;
        margin-bottom: 10px;
        box-shadow: 0 0 8px #bbb;
        border-radius: 4px;
    }
    .dev-div {
        padding: 30px 0 0;
    }
    .dev-div p {
        color: #000;
        text-align: justify;
        padding: 9px 13px 0;
    }
    .development-area {
        background: url(../images/c.png);
        background-size: cover;
        background-position: bottom;
    }
    .list-ordered li {
        text-align: justify;
        font-size: 13px;
        padding: 0 13px 11px 0;
    }
    .this-p p {
        text-align: justify;
        padding-top: 25px;
        font-size: 14px;
        line-height: 19px;
    }
    .cat-main-div {
        background-size: cover !important;
    }
    .category-sec {
        padding: 20px 0 90px;
        margin-top: 20px;
    }
    .cat-main-div .cat-inner-div h4 {
        padding: 63px 70px 0;
    }
    .title-cat h3 {
        font-size: 28px;
        text-align: center;
        padding: 0;
    }
    .add-dev .inner-add-sec h3 {
        padding: 26px 0 0 !important;
        font-size: 19px;
    }
    .add-dev .inner-add-sec p {
        padding: 18px 10px 0;
        font-size: 15px;
    }
    .inner-add-sec {
        min-height: 225px;
        border-radius: 10px;
        padding: 15px;
    }
    /*development end*/
    /*DEVELOPMENT PAGE END*/
    /*TUTORIAL PAGE START*/
    /*tutorial start*/
    .title-sec-tut h2 {
        font-size: 21px;
        padding: 52px 0 0;
    }
    .dexc-sec h4 {
        font-size: 16px;
        padding: 10px 0 0;
    }
    .dexc-sec {
        box-shadow: 0 0 3px #bbb;
        padding: 21px;
        min-height: auto;
        margin-bottom: 15px;
    }
    .vod-sec iframe {
        border: 0;
        height: 200px;
        width: 100%;
        box-shadow: 0 0 16px #000;
    }
    .tut-sec1.tut-eve {
        background: rgb(247 247 247 / 90%);
        padding: 20px 0 0px;
    }
    .row-div {
        padding: 30px 0;
    }
    .tut-sec1 {
        padding: 30px 0 15px;
    }
    .dexc-sec p {
        font-size: 11px;
        text-align: justify;
    }
    /*tutorial end*/
    /*TUTORIAL PAGE END*/
    /*CAREER START*/
    /*career start*/
    .con-content h2 {
        font-weight: 600;
        color: #fff;
        font-size: 38px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    .con-content {
        padding: 0 30px;
    }
    .con-content p {
        color: #fff;
        padding: 0;
        font-size: 18px;
        font-style: italic;
    }
    .top-title h2 {
        font-size: 23px;
        padding: 22px 0;
        text-decoration: none;
    }
    .sec-form-career select {
        height: 44px;
        border-radius: 0px;
        border: 1px solid #c0ccff;
        padding-left: 20px;
        margin-bottom: 6px;
    }
    .sec-form-career input {
        height: 42px;
        border-radius: 0px;
        border: 1px solid #c0ccff;
        padding-left: 20px;
        margin-bottom: 6px;
    }
    .img-job img {
        display: none;
    }
    /*career end*/
    /*CAREER END*/
    /*CONTACT START*/
    .inner-add-sec i {
        font-size: 25px;
        padding: 10px 0 0;
    }
    .inner-add-sec p {
        padding: 10px 0;
        font-size: 12px;
    }
    .contact-img img {
        height: 190px;
    }
    .home-contact-area .home-contact-content h2 {
        font-size: 22px;
    }
    .home-contact-area .home-contact-content {
        padding: 16px;
        left: 0%;
    }
    .home-contact-area .home-contact-content input.form-control {
        height: 45px;
        border-radius: 90px;
        border: 1px solid #c0ccff;
        padding-left: 20px;
    }
    .home-contact-area .home-contact-content textarea.form-control {
        height: 110px;
    }
    .home-contact-area .box-btn {
        background: #1d42d9;
        color: #fff;
        padding: 12px 10px;
        border: 1px solid transparent;
    }
    .contact-sec-form {
        padding: 48px 0 20px;
    }
    .con-text-area {
        padding: 28px;
        box-shadow: 0 0 14px #bbc;
        height: 430px;
        margin: 10px 0;
    }
    .add-div h5 {
        font-size: 15px;
        font-weight: 800;
    }
    .add-div p {
        font-size: 14px;
        font-weight: 500;
    }
    /*CONTACT END*/
    /*login start*/
    .login-sec .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        margin: 170px auto 30px;
        max-width: 100%;
        padding: 8px;
        box-shadow: 0 0 15px #bbb;
    }
    /*login end*/


    /*footer start*/
    .footer-area .footer-left p {
        color: #fff !important;
        margin-top: 20px;
        font-size: 13px;
    }
    .footer-area .footer-left .footer-social li a {
        margin-right: 25px;
        color: #fff;
        font-size: 22px;
    }
    .fml-25 {
        margin-left: 0;
    }
    .fml-15 {
        margin-left: 0;
    }
    .copy-area .copy p {
        color: #fff !important;
        margin-bottom: 0;
        font-size: 13px;
    }


    /*footer end*/
}